<a href="https://colab.research.google.com/github/Mikeblanchard/Covid_Project/blob/mike/Impute.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import pearsonr
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import SimpleImputer
import scipy.sparse as sp

In [ ]:
dfd = pd.read_csv("Deaths_csv_cleaned.csv")
dfd

     Unnamed: 0  iso_code  ... life_expectancy human_development_index
0           443       AFG  ...           64.83                   0.511
1           898  OWID_AFR  ...             NaN                     NaN
2          1341       ALB  ...           78.57                   0.795
3          1784       DZA  ...           76.88                   0.748
4          2221       AND  ...           83.73                   0.868
..          ...       ...  ...             ...                     ...
218       86224       WLF  ...           79.94                     NaN
219       86701  OWID_WRL  ...           72.58                   0.737
220       87099       YEM  ...           66.12                   0.470
221       87520       ZMB  ...           63.89                   0.584
222       87939       ZWE  ...           61.49                   0.571

[223 rows x 26 columns]

In [ ]:
df_dropped = dfd.drop(["Unnamed: 0", "iso_code", "continent", "Country", "date", "stringency_index", "handwashing_facilities", "extreme_poverty", "male_smokers", "female_smokers"], 1)
df_dropped

     total_cases  new_cases  ...  life_expectancy  human_development_index
0        62718.0      315.0  ...            64.83                    0.511
1      4656979.0     8863.0  ...              NaN                      NaN
2       131845.0       42.0  ...            78.57                    0.795
3       124682.0      199.0  ...            76.88                    0.748
4        13470.0       23.0  ...            83.73                    0.868
..           ...        ...  ...              ...                      ...
218          NaN        NaN  ...            79.94                      NaN
219  160450504.0   759730.0  ...            72.58                    0.737
220       6498.0        6.0  ...            66.12                    0.470
221      92211.0       59.0  ...            63.89                    0.584
222      38466.0       18.0  ...            61.49                    0.571

[223 rows x 16 columns]

In [ ]:
df_dropped.isnull().sum()

total_cases                   24
new_cases                     24
total_deaths                  31
total_cases_per_million       25
total_deaths_per_million      32
population                     2
population_density            20
median_age                    34
aged_65_older                 36
aged_70_older                 35
gdp_per_capita                32
cardiovasc_death_rate         35
diabetes_prevalence           25
hospital_beds_per_thousand    54
life_expectancy               12
human_development_index       36
dtype: int64

In [ ]:
impute = IterativeImputer(max_iter=20, verbose=20)
df_array = impute.fit_transform(df_dropped)
df_array

[IterativeImputer] Completing matrix with shape (223, 16)
[IterativeImputer] Ending imputation round 1/20, elapsed time 0.04
[IterativeImputer] Change: 111700286.49069183, scaled tolerance: 7794798.729
[IterativeImputer] Ending imputation round 2/20, elapsed time 0.07
[IterativeImputer] Change: 1786103.8812536022, scaled tolerance: 7794798.729
[IterativeImputer] Early stopping criterion reached.

array([[6.27180000e+04, 3.15000000e+02, 2.71300000e+03, ...,
        5.00000000e-01, 6.48300000e+01, 5.11000000e-01],
       [4.65697900e+06, 8.86300000e+03, 1.25363000e+05, ...,
        3.81031107e+00, 7.08021063e+01, 6.62251301e-01],
       [1.31845000e+05, 4.20000000e+01, 2.42300000e+03, ...,
        2.89000000e+00, 7.85700000e+01, 7.95000000e-01],
       ...,
       [6.49800000e+03, 6.00000000e+00, 1.27700000e+03, ...,
        7.00000000e-01, 6.61200000e+01, 4.70000000e-01],
       [9.22110000e+04, 5.90000000e+01, 1.25900000e+03, ...,
        2.00000000e+00, 6.38900000e+01, 5.84000000e-01],
       [3.84660000e+04, 1.80000000e+01, 1.57900000e+03, ...,
        1.70000000e+00, 6.14900000e+01, 5.71000000e-01]])

In [ ]:
df = pd.DataFrame(df_array, index=df_dropped.index, columns=df_dropped.columns)
df.head(20)

In [ ]:
df = df.join(dfd["Country"])
df

      total_cases     new_cases  ...  human_development_index            Country
0    6.271800e+04     315.00000  ...                 0.511000        Afghanistan
1    4.656979e+06    8863.00000  ...                 0.662251             Africa
2    1.318450e+05      42.00000  ...                 0.795000            Albania
3    1.246820e+05     199.00000  ...                 0.748000            Algeria
4    1.347000e+04      23.00000  ...                 0.868000            Andorra
..            ...           ...  ...                      ...                ...
218  2.344393e+06    2910.67445  ...                 0.810548  Wallis and Futuna
219  1.604505e+08  759730.00000  ...                 0.737000              World
220  6.498000e+03       6.00000  ...                 0.470000              Yemen
221  9.221100e+04      59.00000  ...                 0.584000             Zambia
222  3.846600e+04      18.00000  ...                 0.571000           Zimbabwe

[223 rows x 17 columns]

In [ ]:
# co = df["Country"]
# df.drop(labels=["Country"], axis=1, inplace=True)
# df.insert(0, "Country", co)

In [ ]:
colu = list(df)
colu.insert(0, colu.pop(colu.index("Country")))

colu

['Country',
 'total_cases',
 'new_cases',
 'total_deaths',
 'total_cases_per_million',
 'total_deaths_per_million',
 'population',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index']

In [ ]:
df = df.loc[:, colu]
df.head(20)

                Country   total_cases  ...  life_expectancy  human_development_index
0           Afghanistan  6.271800e+04  ...        64.830000                 0.511000
1                Africa  4.656979e+06  ...        70.802106                 0.662251
2               Albania  1.318450e+05  ...        78.570000                 0.795000
3               Algeria  1.246820e+05  ...        76.880000                 0.748000
4               Andorra  1.347000e+04  ...        83.730000                 0.868000
5                Angola  2.940500e+04  ...        61.150000                 0.581000
6              Anguilla  2.344408e+06  ...        81.880000                 0.832304
7   Antigua and Barbuda  1.240000e+03  ...        77.020000                 0.778000
8             Argentina  3.215572e+06  ...        76.670000                 0.845000
9               Armenia  2.199500e+05  ...        75.090000                 0.776000
10                Aruba  2.449325e+06  ...        76.290000                 0.857323
11                 Asia  4.526584e+07  ...        64.458509                 0.540646
12            Australia  2.995500e+04  ...        83.440000                 0.944000
13              Austria  6.339600e+05  ...        81.540000                 0.922000
14           Azerbaijan  3.281590e+05  ...        73.000000                 0.756000
15              Bahamas  1.096600e+04  ...        73.920000                 0.814000
16              Bahrain  1.942890e+05  ...        77.290000                 0.852000
17           Bangladesh  7.773970e+05  ...        72.590000                 0.632000
18             Barbados  3.957000e+03  ...        79.190000                 0.814000
19              Belarus  3.714050e+05  ...        74.790000                 0.823000

[20 rows x 17 columns]

In [ ]:
df.to_csv("Impute_Deaths.csv")