In [ ]:
import pandas as pd
df1 = pd.read_csv("Food_Supply_Quantity_kg_Data.csv")
df2 = pd.read_csv("Deaths_csv_cleaned.csv")

In [12]:
merged_df = df2.merge(df1, how="outer", on = ['Country'])
merged_df.head()

   Unnamed: 0  iso_code  ...  Population Unit (all except Population)
0       443.0       AFG  ...  38928000.0                            %
1       898.0  OWID_AFR  ...         NaN                          NaN
2      1341.0       ALB  ...   2838000.0                            %
3      1784.0       DZA  ...  44357000.0                            %
4      2221.0       AND  ...         NaN                          NaN

[5 rows x 57 columns]

In [8]:
len(df1.index), len(df2.index), len(merged_df.index)

(170, 223, 227)

In [13]:
merged_df.to_csv("Merged.csv")