In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'covid-master-database.cabqzr6k8laf.us-east-2.rds.amazonaws.com' 
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'postgres' 
POSTGRES_PASSWORD = 'awspostgres' 
POSTGRES_DBNAME = 'postgres'
postgres_str = ('postgresql://postgres:awspostgres@covid-master-database.cabqzr6k8laf.us-east-2.rds.amazonaws.com:5432/postgres'.format(username=POSTGRES_USERNAME,password=POSTGRES_PASSWORD,ipaddress=POSTGRES_ADDRESS,port=POSTGRES_PORT,dbname=POSTGRES_DBNAME))
# Create the connection
cnx = create_engine(postgres_str)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
# JOIN 'covid_deaths' table with 'food_supply_quantity_kg' table using FULL OUTER JOIN
df_covid_deaths_foodKG = pd.read_sql_query('''SELECT cd.*, fkg.animal_products, fkg.animal_fats, fkg.aquatic_products, fkg.cereals_excluding_beer, 
fkg.eggs, fkg.seafood, fkg.fruits_excluding_wine, fkg.meat, fkg.milk_excluding_butter, 
fkg.miscellaneous, fkg.offals, fkg.oilcrops, fkg.pulses, fkg.spices, fkg.starchy_roots, 
fkg.stimulants, fkg.sugar_and_sweeteners, fkg.sugar_crops,fkg.treenuts, fkg.vegetable_oils, 
fkg.vegetables, fkg.vegetal_products, fkg.obesity, fkg.undernourished, fkg.confirmed, fkg.deaths, 
fkg.recovered,fkg.active, fkg.population
from covid_deaths as cd
FULL OUTER JOIN food_supply_quantity_kg as fkg
ON cd.country = fkg.country;''', cnx)

In [4]:
df_covid_deaths_foodKG.head(5)

  iso_code      continent              country  ... recovered    active  population
0      AFG           Asia          Afghanistan  ...  0.123374  0.012574    38928000
1      ALB         Europe              Albania  ...  1.792636  1.123714     2838000
2      DZA         Africa              Algeria  ...  0.167572  0.070767    44357000
3      AGO         Africa               Angola  ...  0.056808  0.003419    32522000
4      ATG  North America  Antigua and Barbuda  ...  0.190816  0.095918       98000

[5 rows x 53 columns]

In [5]:
# JOIN 'covid_deaths' table with 'food_supply_kcal' table using FULL OUTER JOIN
df_covid_deaths_foodKCAL = pd.read_sql_query('''SELECT cd.*, fkcal.animal_products, fkcal.animal_fats, fkcal.aquatic_products, fkcal.cereals_excluding_beer, 
fkcal.eggs, fkcal.seafood, fkcal.fruits_excluding_wine, fkcal.meat, fkcal.milk_excluding_butter, 
fkcal.miscellaneous, fkcal.offals, fkcal.oilcrops, fkcal.pulses, fkcal.spices, fkcal.starchy_roots, 
fkcal.stimulants, fkcal.sugar_and_sweeteners, fkcal.sugar_crops,fkcal.treenuts, fkcal.vegetable_oils, 
fkcal.vegetables, fkcal.vegetal_products, fkcal.obesity, fkcal.undernourished, fkcal.confirmed, fkcal.deaths, 
fkcal.recovered,fkcal.active, fkcal.population
from covid_deaths as cd
FULL OUTER JOIN food_supply_kcal as fkcal
ON cd.country = fkcal.country;''', cnx)

In [6]:
df_covid_deaths_foodKCAL.head(10)

  iso_code      continent              country  ... recovered    active  population
0      AFG           Asia          Afghanistan  ...  0.123374  0.012574    38928000
1      ALB         Europe              Albania  ...  1.792636  1.123714     2838000
2      DZA         Africa              Algeria  ...  0.167572  0.070767    44357000
3      AGO         Africa               Angola  ...  0.056808  0.003419    32522000
4      ATG  North America  Antigua and Barbuda  ...  0.190816  0.095918       98000
5      ARG  South America            Argentina  ...  3.905192  0.342729    45377000
6      ARM           Asia              Armenia  ...  5.398410  0.177470     2956000
7      AUS        Oceania            Australia  ...  0.101289  0.007207    25754000
8      AUT         Europe              Austria  ...  4.496870  0.153433     8914000
9      AZE           Asia           Azerbaijan  ...  2.225574  0.028740    10108000

[10 rows x 53 columns]

In [7]:
!pip install path

Collecting path
  Downloading https://files.pythonhosted.org/packages/d3/2a/b0f97e1b736725f6ec48a8bd564ee1d1f3f945bb5d39cb44ef8bbe66bd14/path-15.1.2-py3-none-any.whl
Installing collected packages: path
Successfully installed path-15.1.2

In [8]:
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder

Bucketing Total Deaths to Prepare for Machine Learning

In [ ]:
high_death = df_covid_deaths_foodKCAL.sort_values(["total_deaths"], ascending=False)

high_death.head()

    iso_code      continent  ...    active  population
157      USA  North America  ...  8.019819   329878000
20       BRA  South America  ...  0.372094   211812000
68       IND           Asia  ...  0.010625  1400100000
97       MEX  North America  ...  0.217663   127792000
155      GBR         Europe  ...  5.686102    67160000

[5 rows x 53 columns]

In [9]:
low_death = df_covid_deaths_foodKCAL.sort_values(["total_deaths"], ascending=True)

low_death.head()

    iso_code      continent  country  ... recovered    active  population
82       LAO           Asia     Laos  ...  0.000566  0.000055     7242000
160      VUT        Oceania  Vanuatu  ...  0.000312  0.000000      321000
59       GRD  North America  Grenada  ...  0.129204  0.000885      113000
49       FJI        Oceania     Fiji  ...  0.005915  0.000112      896000
147      TLS           Asia    Timor  ...  0.004628  0.001442     1318000

[5 rows x 53 columns]

In [10]:
death_labels = ['low', 'moderate', 'sigificant', 'high', 'very high']
cut_bins1 = [0, 50000, 100000, 250000, 400000, 590000]
df_covid_deaths_foodKCAL['death_level'] = pd.cut(df_covid_deaths_foodKCAL['total_deaths'], bins=cut_bins1, labels=death_labels)

In [11]:
df_covid_deaths_foodKCAL.head()

  iso_code      continent  ... population death_level
0      AFG           Asia  ...   38928000         low
1      ALB         Europe  ...    2838000         low
2      DZA         Africa  ...   44357000         low
3      AGO         Africa  ...   32522000         low
4      ATG  North America  ...      98000         low

[5 rows x 54 columns]

In [12]:
df_covid_deaths_foodKCAL.isnull().sum()

iso_code                       0
continent                      0
country                        0
count_date                     0
total_cases                    2
new_cases                      2
total_deaths                   6
total_cases_per_million        2
total_deaths_per_million       6
population                     0
population_density             1
median_age                     2
aged_65_older                  3
aged_70_older                  3
gdp_per_capita                 4
extreme_poverty               51
cardiovasc_death_rate          3
diabetes_prevalence            1
female_smokers                34
male_smokers                  36
handwashing_facilities        80
hospital_beds_per_thousand    18
life_expectancy                0
human_development_index        3
animal_products                0
animal_fats                    0
aquatic_products               0
cereals_excluding_beer         0
eggs                           0
seafood                        0
fruits_excluding_wine          0
meat                           0
milk_excluding_butter          0
miscellaneous                  0
offals                         0
oilcrops                       0
pulses                         0
spices                         0
starchy_roots                  0
stimulants                     0
sugar_and_sweeteners           0
sugar_crops                    0
treenuts                       0
vegetable_oils                 0
vegetables                     0
vegetal_products               0
obesity                        0
undernourished                 0
confirmed                      0
deaths                         0
recovered                      0
active                         0
population                     0
death_level                    6
dtype: int64

In [13]:
clean_df = df_covid_deaths_foodKCAL.loc[df_covid_deaths_foodKCAL['death_level'].notna()]

clean_df.head()

  iso_code      continent  ... population death_level
0      AFG           Asia  ...   38928000         low
1      ALB         Europe  ...    2838000         low
2      DZA         Africa  ...   44357000         low
3      AGO         Africa  ...   32522000         low
4      ATG  North America  ...      98000         low

[5 rows x 54 columns]

In [15]:
obesity_df = clean_df.drop(["iso_code","continent","country","count_date","total_cases","new_cases","total_deaths","total_cases_per_million","total_deaths_per_million"], axis=1)

In [16]:
obesity_df = obesity_df.drop(["population","population_density","gdp_per_capita","extreme_poverty","cardiovasc_death_rate","diabetes_prevalence","female_smokers","male_smokers",
                      "handwashing_facilities","hospital_beds_per_thousand","life_expectancy","human_development_index"], axis=1)

In [17]:
obesity_df = obesity_df.drop(["animal_products","animal_fats","aquatic_products","cereals_excluding_beer","eggs","seafood","fruits_excluding_wine","meat",
                      "milk_excluding_butter","miscellaneous","offals","oilcrops","pulses","spices","starchy_roots","stimulants","sugar_and_sweeteners","sugar_crops","treenuts",
                      "vegetable_oils","vegetables","vegetal_products","undernourished","confirmed","deaths","recovered","active","median_age","aged_65_older","aged_70_older"], axis=1)

In [18]:
obesity_df.head()

   obesity death_level
0      4.5         low
1     22.3         low
2     26.6         low
3      6.8         low
4     19.1         low

In [20]:
obesity_df = obesity_df.loc[obesity_df['death_level'].notna()]

obesity_df.head()

   obesity death_level
0      4.5         low
1     22.3         low
2     26.6         low
3      6.8         low
4     19.1         low

Is there a relationship between a country's obesity data and its number of Covid-19 deaths?

In [21]:
X = obesity_df.copy()
X = X.drop(["death_level"], axis=1)
X.head()

   obesity
0      4.5
1     22.3
2     26.6
3      6.8
4     19.1

In [22]:
y = obesity_df["death_level"].values
y[:5]

['low', 'low', 'low', 'low', 'low']
Categories (5, object): ['low' < 'moderate' < 'sigificant' < 'high' < 'very high']

In [23]:
y.isnull().sum()

0

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [25]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(120, 1)
(40, 1)
(120,)
(40,)

In [26]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [28]:
predictions = model.predict(X_test_scaled)
predictions

array(['low', 'low', 'high', 'low', 'low', 'low', 'low', 'low', 'low',
       'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low',
       'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low',
       'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low',
       'low', 'low', 'low', 'low'], dtype=object)

In [29]:
cm = confusion_matrix(y_test, predictions)

cm

array([[ 0,  0,  0],
       [ 1, 37,  0],
       [ 0,  2,  0]])

In [30]:
acc_score = accuracy_score(y_test, predictions)
acc_score

0.925

In [31]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

       high       0.00      0.00      0.97      0.00      0.00      0.00         0
        low       0.95      0.97      0.00      0.96      0.00      0.00        38
 sigificant       0.00      0.00      1.00      0.00      0.00      0.00         2

avg / total       0.90      0.93      0.05      0.91      0.00      0.00        40

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Sensitivity is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [32]:
importances = model.feature_importances_
sorted(zip( importances, X.columns), reverse=True)

[(1.0, 'obesity')]