In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'covid-master-database.cabqzr6k8laf.us-east-2.rds.amazonaws.com' 
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'postgres' 
POSTGRES_PASSWORD = 'awspostgres' 
POSTGRES_DBNAME = 'postgres'
postgres_str = ('postgresql://postgres:awspostgres@covid-master-database.cabqzr6k8laf.us-east-2.rds.amazonaws.com:5432/postgres'.format(username=POSTGRES_USERNAME,password=POSTGRES_PASSWORD,ipaddress=POSTGRES_ADDRESS,port=POSTGRES_PORT,dbname=POSTGRES_DBNAME))
# Create the connection
cnx = create_engine(postgres_str)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
# JOIN 'covid_deaths' table with 'food_supply_quantity_kg' table using FULL OUTER JOIN
df_covid_deaths_foodKG = pd.read_sql_query('''SELECT cd.*, fkg.animal_products, fkg.animal_fats, fkg.aquatic_products, fkg.cereals_excluding_beer, 
fkg.eggs, fkg.seafood, fkg.fruits_excluding_wine, fkg.meat, fkg.milk_excluding_butter, 
fkg.miscellaneous, fkg.offals, fkg.oilcrops, fkg.pulses, fkg.spices, fkg.starchy_roots, 
fkg.stimulants, fkg.sugar_and_sweeteners, fkg.sugar_crops,fkg.treenuts, fkg.vegetable_oils, 
fkg.vegetables, fkg.vegetal_products, fkg.obesity, fkg.undernourished, fkg.confirmed, fkg.deaths, 
fkg.recovered,fkg.active, fkg.population
from covid_deaths as cd
FULL OUTER JOIN food_supply_quantity_kg as fkg
ON cd.country = fkg.country;''', cnx)

In [4]:
df_covid_deaths_foodKG.head(5)

  iso_code      continent              country  ... recovered    active  population
0      AFG           Asia          Afghanistan  ...  0.123374  0.012574    38928000
1      ALB         Europe              Albania  ...  1.792636  1.123714     2838000
2      DZA         Africa              Algeria  ...  0.167572  0.070767    44357000
3      AGO         Africa               Angola  ...  0.056808  0.003419    32522000
4      ATG  North America  Antigua and Barbuda  ...  0.190816  0.095918       98000

[5 rows x 53 columns]

In [5]:
# JOIN 'covid_deaths' table with 'food_supply_kcal' table using FULL OUTER JOIN
df_covid_deaths_foodKCAL = pd.read_sql_query('''SELECT cd.*, fkcal.animal_products, fkcal.animal_fats, fkcal.aquatic_products, fkcal.cereals_excluding_beer, 
fkcal.eggs, fkcal.seafood, fkcal.fruits_excluding_wine, fkcal.meat, fkcal.milk_excluding_butter, 
fkcal.miscellaneous, fkcal.offals, fkcal.oilcrops, fkcal.pulses, fkcal.spices, fkcal.starchy_roots, 
fkcal.stimulants, fkcal.sugar_and_sweeteners, fkcal.sugar_crops,fkcal.treenuts, fkcal.vegetable_oils, 
fkcal.vegetables, fkcal.vegetal_products, fkcal.obesity, fkcal.undernourished, fkcal.confirmed, fkcal.deaths, 
fkcal.recovered,fkcal.active, fkcal.population
from covid_deaths as cd
FULL OUTER JOIN food_supply_kcal as fkcal
ON cd.country = fkcal.country;''', cnx)

In [6]:
df_covid_deaths_foodKCAL.head(10)

  iso_code      continent              country  ... recovered    active  population
0      AFG           Asia          Afghanistan  ...  0.123374  0.012574    38928000
1      ALB         Europe              Albania  ...  1.792636  1.123714     2838000
2      DZA         Africa              Algeria  ...  0.167572  0.070767    44357000
3      AGO         Africa               Angola  ...  0.056808  0.003419    32522000
4      ATG  North America  Antigua and Barbuda  ...  0.190816  0.095918       98000
5      ARG  South America            Argentina  ...  3.905192  0.342729    45377000
6      ARM           Asia              Armenia  ...  5.398410  0.177470     2956000
7      AUS        Oceania            Australia  ...  0.101289  0.007207    25754000
8      AUT         Europe              Austria  ...  4.496870  0.153433     8914000
9      AZE           Asia           Azerbaijan  ...  2.225574  0.028740    10108000

[10 rows x 53 columns]

In [7]:
!pip install path

Requirement already satisfied: path in /usr/local/lib/python3.7/dist-packages (15.1.2)

In [8]:
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder

Bucketing Obesity, Undernourished & Death to Prepare for Machine Learning

In [9]:
high_obesity = df_covid_deaths_foodKCAL.sort_values(["obesity"], ascending=False)

high_obesity.head()

    iso_code      continent  ...    active population
128      WSM        Oceania  ...  0.000000     200000
157      USA  North America  ...  8.019819  329878000
80       KWT           Asia  ...  0.170092    4691000
130      SAU           Asia  ...  0.006641   35041000
77       JOR           Asia  ...  0.093604   10679000

[5 rows x 53 columns]

In [10]:
low_obesity = df_covid_deaths_foodKCAL.sort_values(["obesity"], ascending=True)

low_obesity.head()

    iso_code continent           country  ... recovered    active  population
144      TWN      Asia            Taiwan  ...  0.003571  0.000305    23610000
106      NCL   Oceania     New Caledonia  ...  0.000000  0.000000      295000
52       PYF   Oceania  French Polynesia  ...  0.000000  0.000000      280000
162      VNM      Asia           Vietnam  ...  0.001526  0.000501    96209000
147      TLS      Asia             Timor  ...  0.004628  0.001442     1318000

[5 rows x 53 columns]

In [11]:
obesity_labels = ['low', 'moderate', 'high']
cut_bins1 = [0, 10, 20, 50]
df_covid_deaths_foodKCAL['obesity_level'] = pd.cut(df_covid_deaths_foodKCAL['obesity'], bins=cut_bins1, labels=obesity_labels)

In [12]:
high_deaths = df_covid_deaths_foodKCAL.sort_values(["deaths"], ascending=False)

high_deaths.head()

    iso_code continent         country  ...    active  population  obesity_level
14       BEL    Europe         Belgium  ...  6.100894    11515000           high
135      SVN    Europe        Slovenia  ...  0.751213     2103000           high
155      GBR    Europe  United Kingdom  ...  5.686102    67160000           high
38       CZE    Europe         Czechia  ...  0.897667    10716000           high
74       ITA    Europe           Italy  ...  0.708229    60296000           high

[5 rows x 54 columns]

In [13]:
low_deaths = df_covid_deaths_foodKCAL.sort_values(["deaths"], ascending=True)

low_deaths.head()

    iso_code      continent  ... population obesity_level
82       LAO           Asia  ...    7242000           low
102      MMR           Asia  ...   54704000           low
41       DMA  North America  ...      72000          high
125      KNA  North America  ...      54000          high
24       KHM           Asia  ...   15497000           low

[5 rows x 54 columns]

In [15]:
death_labels = ['low', 'moderate', 'high']
cut_bins2 = [0.0, 0.050000, 0.100000, 0.200000]
df_covid_deaths_foodKCAL['death_proportion'] = pd.cut(df_covid_deaths_foodKCAL['deaths'], bins=cut_bins2, labels=death_labels)

df_covid_deaths_foodKCAL.head(10)

  iso_code      continent  ... obesity_level death_proportion
0      AFG           Asia  ...           low              low
1      ALB         Europe  ...          high         moderate
2      DZA         Africa  ...          high              low
3      AGO         Africa  ...           low              low
4      ATG  North America  ...      moderate              low
5      ARG  South America  ...          high             high
6      ARM           Asia  ...          high             high
7      AUS        Oceania  ...          high              low
8      AUT         Europe  ...          high         moderate
9      AZE           Asia  ...      moderate              low

[10 rows x 55 columns]

In [16]:
high_undernourished = df_covid_deaths_foodKCAL.sort_values(["undernourished"], ascending=False)

high_undernourished.head()

    iso_code      continent  ... obesity_level death_proportion
27       CAF         Africa  ...           low              low
165      ZWE         Africa  ...      moderate              low
64       HTI  North America  ...          high              low
164      ZMB         Africa  ...           low              low
89       MDG         Africa  ...           low              low

[5 rows x 55 columns]

In [17]:
low_undernourished = df_covid_deaths_foodKCAL.sort_values(["undernourished"], ascending=True)

low_undernourished.head()

    iso_code      continent  ... obesity_level death_proportion
59       GRD  North America  ...          high              low
10       BHS  North America  ...          high              low
125      KNA  North America  ...          high              NaN
4        ATG  North America  ...      moderate              low
121      MDA         Europe  ...          high         moderate

[5 rows x 55 columns]

In [23]:
undernourished_labels = ['low', 'moderate', 'high','very_high']
cut_bins3 = [0, 10, 20, 50, 60]
df_covid_deaths_foodKCAL['undernourished_level'] = pd.cut(df_covid_deaths_foodKCAL['undernourished'], bins=cut_bins3, labels=undernourished_labels)

df_covid_deaths_foodKCAL.head(10)

  iso_code      continent  ... death_proportion undernourished_level
0      AFG           Asia  ...              low                 high
1      ALB         Europe  ...         moderate                  low
2      DZA         Africa  ...              low                  low
3      AGO         Africa  ...              low                 high
4      ATG  North America  ...              low                  NaN
5      ARG  South America  ...             high                  low
6      ARM           Asia  ...             high                  low
7      AUS        Oceania  ...              low                  low
8      AUT         Europe  ...         moderate                  low
9      AZE           Asia  ...              low                  low

[10 rows x 56 columns]

In [32]:
clean_df= df_covid_deaths_foodKCAL.drop(["iso_code","continent", "count_date","obesity","undernourished","deaths"], axis=1)
clean_df.head()

               country  total_cases  ...  death_proportion  undernourished_level
0          Afghanistan      62718.0  ...               low                  high
1              Albania     131845.0  ...          moderate                   low
2              Algeria     124682.0  ...               low                   low
3               Angola      29405.0  ...               low                  high
4  Antigua and Barbuda       1240.0  ...               low                   NaN

[5 rows x 50 columns]

In [58]:
clean_df.isnull().sum()

country                        0
total_cases                    2
new_cases                      2
total_deaths                   6
total_cases_per_million        2
total_deaths_per_million       6
population                     0
population_density             1
median_age                     2
aged_65_older                  3
aged_70_older                  3
gdp_per_capita                 4
extreme_poverty               51
cardiovasc_death_rate          3
diabetes_prevalence            1
female_smokers                34
male_smokers                  36
handwashing_facilities        80
hospital_beds_per_thousand    18
life_expectancy                0
human_development_index        3
animal_products                0
animal_fats                    0
aquatic_products               0
cereals_excluding_beer         0
eggs                           0
seafood                        0
fruits_excluding_wine          0
meat                           0
milk_excluding_butter          0
miscellaneous                  0
offals                         0
oilcrops                       0
pulses                         0
spices                         0
starchy_roots                  0
stimulants                     0
sugar_and_sweeteners           0
sugar_crops                    0
treenuts                       0
vegetable_oils                 0
vegetables                     0
vegetal_products               0
confirmed                      0
recovered                      0
active                         0
population                     0
obesity_level                  3
death_proportion              11
undernourished_level           7
dtype: int64

In [60]:
clean_df2 = clean_df.loc[clean_df['obesity_level'].notna()]
clean_df2

                 country  total_cases  ...  death_proportion  undernourished_level
0            Afghanistan      62718.0  ...               low                  high
1                Albania     131845.0  ...          moderate                   low
2                Algeria     124682.0  ...               low                   low
3                 Angola      29405.0  ...               low                  high
4    Antigua and Barbuda       1240.0  ...               low                   NaN
..                   ...          ...  ...               ...                   ...
161            Venezuela     210948.0  ...               low                  high
162              Vietnam       3658.0  ...               low                   low
163                Yemen       6498.0  ...               low                  high
164               Zambia      92211.0  ...               low                  high
165             Zimbabwe      38466.0  ...               low             very_high

[163 rows x 50 columns]

In [61]:
clean_df2.isnull().sum()

country                        0
total_cases                    0
new_cases                      0
total_deaths                   4
total_cases_per_million        0
total_deaths_per_million       4
population                     0
population_density             0
median_age                     2
aged_65_older                  2
aged_70_older                  3
gdp_per_capita                 1
extreme_poverty               48
cardiovasc_death_rate          1
diabetes_prevalence            0
female_smokers                31
male_smokers                  33
handwashing_facilities        77
hospital_beds_per_thousand    15
life_expectancy                0
human_development_index        0
animal_products                0
animal_fats                    0
aquatic_products               0
cereals_excluding_beer         0
eggs                           0
seafood                        0
fruits_excluding_wine          0
meat                           0
milk_excluding_butter          0
miscellaneous                  0
offals                         0
oilcrops                       0
pulses                         0
spices                         0
starchy_roots                  0
stimulants                     0
sugar_and_sweeteners           0
sugar_crops                    0
treenuts                       0
vegetable_oils                 0
vegetables                     0
vegetal_products               0
confirmed                      0
recovered                      0
active                         0
population                     0
obesity_level                  0
death_proportion               9
undernourished_level           7
dtype: int64

Does food supply predict obesity?

In [65]:
X = clean_df2.copy()
X = X.drop(["obesity_level","country","total_cases","new_cases","total_deaths","total_cases_per_million","total_deaths_per_million","population","population_density","median_age","aged_65_older","aged_70_older",
            "gdp_per_capita","extreme_poverty","cardiovasc_death_rate","diabetes_prevalence","female_smokers","male_smokers","handwashing_facilities","hospital_beds_per_thousand","life_expectancy",
            "human_development_index","death_proportion","undernourished_level","confirmed","recovered","active"], axis=1)
X.head()

   animal_products  animal_fats  ...  vegetables  vegetal_products
0           4.7774       0.8504  ...      0.7504           45.2476
1          16.0930       1.0591  ...      2.7508           33.9070
2           6.0326       0.1941  ...      2.0457           43.9749
3           4.6927       0.2644  ...      0.3525           45.3184
4          15.3672       1.5429  ...      1.2960           34.6225

[5 rows x 22 columns]

In [68]:
y = clean_df2["obesity_level"].values
y[:5]

['low', 'high', 'high', 'low', 'moderate']
Categories (3, object): ['low' < 'moderate' < 'high']

In [69]:
y.isnull().sum()

0

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [71]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(122, 22)
(41, 22)
(122,)
(41,)

In [72]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [73]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [75]:
predictions = model.predict(X_test_scaled)
predictions

array(['high', 'high', 'moderate', 'high', 'high', 'low', 'high', 'low',
       'low', 'moderate', 'high', 'high', 'moderate', 'low', 'high',
       'high', 'high', 'low', 'high', 'high', 'high', 'high', 'low',
       'moderate', 'high', 'high', 'high', 'high', 'moderate', 'high',
       'low', 'low', 'high', 'high', 'low', 'moderate', 'high', 'high',
       'low', 'high', 'low'], dtype=object)

In [77]:
cm = confusion_matrix(y_test, predictions)

cm

array([[21,  0,  2],
       [ 2, 10,  2],
       [ 1,  1,  2]])

In [78]:
acc_score = accuracy_score(y_test, predictions)
acc_score

0.8048780487804879

In [79]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

       high       0.88      0.91      0.83      0.89      0.87      0.77        23
        low       0.91      0.71      0.96      0.80      0.83      0.67        14
   moderate       0.33      0.50      0.89      0.40      0.67      0.43         4

avg / total       0.83      0.80      0.88      0.81      0.84      0.70        41

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

In [82]:
importances = model.feature_importances_
sorted(zip( importances, X.columns), reverse=True)

[(0.2744458255900873, 'sugar_and_sweeteners'),
 (0.16085447906291078, 'cereals_excluding_beer'),
 (0.12675637986181568, 'starchy_roots'),
 (0.07926788794695981, 'milk_excluding_butter'),
 (0.06843024858154541, 'pulses'),
 (0.05435645542969398, 'eggs'),
 (0.04459205539897185, 'seafood'),
 (0.04369832691406772, 'fruits_excluding_wine'),
 (0.04352957321257032, 'miscellaneous'),
 (0.03645626523037296, 'animal_fats'),
 (0.03606000147786891, 'offals'),
 (0.018030000738934456, 'oilcrops'),
 (0.013522500554200843, 'vegetables'),
 (0.0, 'vegetal_products'),
 (0.0, 'vegetable_oils'),
 (0.0, 'treenuts'),
 (0.0, 'sugar_crops'),
 (0.0, 'stimulants'),
 (0.0, 'spices'),
 (0.0, 'meat'),
 (0.0, 'aquatic_products'),
 (0.0, 'animal_products')]