In [1]:
!pip install path

Collecting path
  Downloading https://files.pythonhosted.org/packages/d3/2a/b0f97e1b736725f6ec48a8bd564ee1d1f3f945bb5d39cb44ef8bbe66bd14/path-15.1.2-py3-none-any.whl
Installing collected packages: path
Successfully installed path-15.1.2

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'covid-master-database.cabqzr6k8laf.us-east-2.rds.amazonaws.com' 
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'postgres' 
POSTGRES_PASSWORD = 'awspostgres' 
POSTGRES_DBNAME = 'postgres'
postgres_str = ('postgresql://postgres:awspostgres@covid-master-database.cabqzr6k8laf.us-east-2.rds.amazonaws.com:5432/postgres'.format(username=POSTGRES_USERNAME,password=POSTGRES_PASSWORD,ipaddress=POSTGRES_ADDRESS,port=POSTGRES_PORT,dbname=POSTGRES_DBNAME))
# Create the connection
cnx = create_engine(postgres_str)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
# JOIN 'covid_deaths' table with 'food_supply_kcal' table using FULL OUTER JOIN
df_covid_deaths_foodKCAL = pd.read_sql_query('''SELECT cd.*, fkcal.animal_products, fkcal.animal_fats, fkcal.aquatic_products, fkcal.cereals_excluding_beer, 
fkcal.eggs, fkcal.seafood, fkcal.fruits_excluding_wine, fkcal.meat, fkcal.milk_excluding_butter, 
fkcal.miscellaneous, fkcal.offals, fkcal.oilcrops, fkcal.pulses, fkcal.spices, fkcal.starchy_roots, 
fkcal.stimulants, fkcal.sugar_and_sweeteners, fkcal.sugar_crops,fkcal.treenuts, fkcal.vegetable_oils, 
fkcal.vegetables, fkcal.vegetal_products, fkcal.obesity, fkcal.undernourished, fkcal.confirmed, fkcal.deaths, 
fkcal.recovered,fkcal.active
from covid_deaths as cd
FULL OUTER JOIN food_supply_kcal as fkcal
ON cd.country = fkcal.country;''', cnx)

In [5]:
df_covid_deaths_foodKCAL.head(10)

  iso_code      continent              country  ...    deaths  recovered    active
0      AFG           Asia          Afghanistan  ...  0.006186   0.123374  0.012574
1      ALB         Europe              Albania  ...  0.050951   1.792636  1.123714
2      DZA         Africa              Algeria  ...  0.006558   0.167572  0.070767
3      AGO         Africa               Angola  ...  0.001461   0.056808  0.003419
4      ATG  North America  Antigua and Barbuda  ...  0.007143   0.190816  0.095918
5      ARG  South America            Argentina  ...  0.108227   3.905192  0.342729
6      ARM           Asia              Armenia  ...  0.105345   5.398410  0.177470
7      AUS        Oceania            Australia  ...  0.003530   0.101289  0.007207
8      AUT         Europe              Austria  ...  0.089679   4.496870  0.153433
9      AZE           Asia           Azerbaijan  ...  0.031223   2.225574  0.028740

[10 rows x 52 columns]

In [6]:
clean_df = df_covid_deaths_foodKCAL.drop(["iso_code","continent","count_date","total_cases","new_cases","total_deaths",
                                          "total_cases_per_million","extreme_poverty","cardiovasc_death_rate","diabetes_prevalence","female_smokers",
                                          "male_smokers","handwashing_facilities","hospital_beds_per_thousand","undernourished","recovered","active"], axis=1)

clean_df.head()

               country  total_deaths_per_million  ...  confirmed    deaths
0          Afghanistan                    69.692  ...   0.142134  0.006186
1              Albania                   841.963  ...   2.967301  0.050951
2              Algeria                    76.395  ...   0.244897  0.006558
3               Angola                    19.625  ...   0.061687  0.001461
4  Antigua and Barbuda                   326.771  ...   0.293878  0.007143

[5 rows x 35 columns]

In [7]:
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder

Create a Death_Outcome variable based on Deaths_Per_Million. 


1.  Assessing top & bottom values to determine the bucket sizes.
2.  Bucketime total_deaths_per_million in death_outcomes with low, moderate & high values.

In [8]:
high_deaths = clean_df.sort_values(["total_deaths_per_million"], ascending=False)

high_deaths.head()

                    country  total_deaths_per_million  ...  confirmed    deaths
66                  Hungary                  2990.368  ...   3.840739  0.133367
38                  Czechia                  2781.497  ...   9.612841  0.159845
18   Bosnia and Herzegovina                  2725.847  ...   3.762085  0.145535
111         North Macedonia                  2472.425  ...   4.548029  0.140192
21                 Bulgaria                  2468.178  ...   3.227256  0.134416

[5 rows x 35 columns]

In [9]:
low_deaths = clean_df.sort_values(["total_deaths_per_million"], ascending=True)

low_deaths.head()

      country  total_deaths_per_million  ...  confirmed    deaths
82       Laos                     0.137  ...   0.000621  0.000000
156  Tanzania                     0.352  ...   0.000852  0.000035
162   Vietnam                     0.360  ...   0.002063  0.000036
144    Taiwan                     0.504  ...   0.003914  0.000038
160   Vanuatu                     3.256  ...   0.000312  0.000000

[5 rows x 35 columns]

In [10]:
death_labels = ['low', 'moderate', 'high']
cut_bins = [0, 1000, 2000, 3000]
clean_df['death_outcomes'] = pd.cut(clean_df['total_deaths_per_million'], bins=cut_bins, labels=death_labels)

clean_df

                 country  total_deaths_per_million  ...    deaths  death_outcomes
0            Afghanistan                    69.692  ...  0.006186             low
1                Albania                   841.963  ...  0.050951             low
2                Algeria                    76.395  ...  0.006558             low
3                 Angola                    19.625  ...  0.001461             low
4    Antigua and Barbuda                   326.771  ...  0.007143             low
..                   ...                       ...  ...       ...             ...
161            Venezuela                    82.185  ...  0.004287             low
162              Vietnam                     0.360  ...  0.000036             low
163                Yemen                    42.815  ...  0.002062             low
164               Zambia                    68.484  ...  0.004564             low
165             Zimbabwe                   106.237  ...  0.008854             low

[166 rows x 36 columns]

Identify and resolve any NaN values.

In [11]:
clean_df.isnull().sum()

country                     0
total_deaths_per_million    6
population                  0
population_density          1
median_age                  2
aged_65_older               3
aged_70_older               3
gdp_per_capita              4
life_expectancy             0
human_development_index     3
animal_products             0
animal_fats                 0
aquatic_products            0
cereals_excluding_beer      0
eggs                        0
seafood                     0
fruits_excluding_wine       0
meat                        0
milk_excluding_butter       0
miscellaneous               0
offals                      0
oilcrops                    0
pulses                      0
spices                      0
starchy_roots               0
stimulants                  0
sugar_and_sweeteners        0
sugar_crops                 0
treenuts                    0
vegetable_oils              0
vegetables                  0
vegetal_products            0
obesity                     0
confirmed                   0
deaths                      0
death_outcomes              6
dtype: int64

In [12]:
machine_learning_df = clean_df.loc[clean_df['median_age'].notna()]
machine_learning_df = machine_learning_df.loc[machine_learning_df['aged_65_older'].notna()]
machine_learning_df = machine_learning_df.loc[machine_learning_df['aged_70_older'].notna()]
machine_learning_df = machine_learning_df.loc[machine_learning_df['gdp_per_capita'].notna()]
machine_learning_df = machine_learning_df.loc[machine_learning_df['human_development_index'].notna()]
machine_learning_df = machine_learning_df.loc[machine_learning_df['death_outcomes'].notna()]
machine_learning_df.head()

               country  total_deaths_per_million  ...    deaths  death_outcomes
0          Afghanistan                    69.692  ...  0.006186             low
1              Albania                   841.963  ...  0.050951             low
2              Algeria                    76.395  ...  0.006558             low
3               Angola                    19.625  ...  0.001461             low
4  Antigua and Barbuda                   326.771  ...  0.007143             low

[5 rows x 36 columns]

In [13]:
machine_learning_df.isnull().sum()

country                     0
total_deaths_per_million    0
population                  0
population_density          0
median_age                  0
aged_65_older               0
aged_70_older               0
gdp_per_capita              0
life_expectancy             0
human_development_index     0
animal_products             0
animal_fats                 0
aquatic_products            0
cereals_excluding_beer      0
eggs                        0
seafood                     0
fruits_excluding_wine       0
meat                        0
milk_excluding_butter       0
miscellaneous               0
offals                      0
oilcrops                    0
pulses                      0
spices                      0
starchy_roots               0
stimulants                  0
sugar_and_sweeteners        0
sugar_crops                 0
treenuts                    0
vegetable_oils              0
vegetables                  0
vegetal_products            0
obesity                     0
confirmed                   0
deaths                      0
death_outcomes              0
dtype: int64

**Question 1:**

Are we able to predict the level of deaths from Covid-19 based on a country's food supply and obesity level?

In [14]:
food_supply_analysis = machine_learning_df.drop(["country","total_deaths_per_million","population","population_density","median_age",
                                                 "aged_65_older","aged_70_older","gdp_per_capita","life_expectancy","human_development_index",
                                                 "confirmed","deaths"], axis=1)

food_supply_analysis.head()

   animal_products  animal_fats  ...  obesity  death_outcomes
0           4.7774       0.8504  ...      4.5             low
1          16.0930       1.0591  ...     22.3             low
2           6.0326       0.1941  ...     26.6             low
3           4.6927       0.2644  ...      6.8             low
4          15.3672       1.5429  ...     19.1             low

[5 rows x 24 columns]

In [15]:
X = food_supply_analysis.copy()
X = X.drop(["death_outcomes"], axis=1)
X.head()

   animal_products  animal_fats  ...  vegetal_products  obesity
0           4.7774       0.8504  ...           45.2476      4.5
1          16.0930       1.0591  ...           33.9070     22.3
2           6.0326       0.1941  ...           43.9749     26.6
3           4.6927       0.2644  ...           45.3184      6.8
4          15.3672       1.5429  ...           34.6225     19.1

[5 rows x 23 columns]

In [16]:
y = food_supply_analysis["death_outcomes"].values
y[:5]

['low', 'low', 'low', 'low', 'low']
Categories (3, object): ['low' < 'moderate' < 'high']

In [17]:
#Verifying there are no null values prior to machine learning

y.isnull().sum()

0

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(117, 23)
(40, 23)
(117,)
(40,)

In [19]:
# Creating a StandardScaler instance.
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()

# Fitting the model.
model = model.fit(X_train_scaled, y_train)

predictions = model.predict(X_test_scaled)

predictions

array(['low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low',
       'low', 'high', 'moderate', 'low', 'moderate', 'high', 'moderate',
       'low', 'low', 'low', 'high', 'low', 'low', 'low', 'low', 'low',
       'moderate', 'low', 'high', 'low', 'moderate', 'low', 'high', 'low',
       'low', 'low', 'high', 'low', 'low', 'low', 'low'], dtype=object)

Evaluating Machine Learning Model for Question 1:

In [20]:
#Calculating Confusion Matrix

cm = confusion_matrix(y_test, predictions)

#Creating a dataframe to showcase in final dashboard

cm_df = pd.DataFrame(
    cm, index=["Low", "Moderate", "High"], columns=["Predicted Low", "Predicted Moderate", "Predicted High"]
)

cm_df

          Predicted Low  Predicted Moderate  Predicted High
Low                   1                   1               1
Moderate              2                  25               4
High                  3                   3               0

In [21]:
# Calculating the accuracy score.

acc_score = accuracy_score(y_test, predictions)

acc_score

0.65

In [23]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted Low  Predicted Moderate  Predicted High
Low                   1                   1               1
Moderate              2                  25               4
High                  3                   3               0

Accuracy Score : 0.65
Classification Report
              precision    recall  f1-score   support

        high       0.17      0.33      0.22         3
         low       0.86      0.81      0.83        31
    moderate       0.00      0.00      0.00         6

    accuracy                           0.65        40
   macro avg       0.34      0.38      0.35        40
weighted avg       0.68      0.65      0.66        40

In [24]:
#Evaluate Importances

importances = model.feature_importances_
sorted(zip( importances, X.columns), reverse=True)

[(0.21344566834313225, 'animal_products'),
 (0.16018368408173253, 'spices'),
 (0.08195024910863978, 'obesity'),
 (0.08045087483176312, 'vegetable_oils'),
 (0.08037942878117853, 'milk_excluding_butter'),
 (0.07013234634365183, 'offals'),
 (0.060925783503172425, 'oilcrops'),
 (0.04421265141318976, 'treenuts'),
 (0.042648048452220734, 'seafood'),
 (0.03936742934051147, 'eggs'),
 (0.03936742934051145, 'vegetables'),
 (0.034446500672947515, 'stimulants'),
 (0.026244952893674293, 'pulses'),
 (0.026244952893674293, 'animal_fats'),
 (0.0, 'vegetal_products'),
 (0.0, 'sugar_crops'),
 (0.0, 'sugar_and_sweeteners'),
 (0.0, 'starchy_roots'),
 (0.0, 'miscellaneous'),
 (0.0, 'meat'),
 (0.0, 'fruits_excluding_wine'),
 (0.0, 'cereals_excluding_beer'),
 (0.0, 'aquatic_products')]

In [25]:
importances = model.feature_importances_
sorted(zip(importances, X.columns), reverse=True)

importances_df = pd.DataFrame(
    importances, index=[X.columns], columns=["Feature Importance"]
)

importances_df.sort_values(by="Feature Importance", axis=0, ascending=False)

                        Feature Importance
animal_products                   0.213446
spices                            0.160184
obesity                           0.081950
vegetable_oils                    0.080451
milk_excluding_butter             0.080379
offals                            0.070132
oilcrops                          0.060926
treenuts                          0.044213
seafood                           0.042648
eggs                              0.039367
vegetables                        0.039367
stimulants                        0.034447
animal_fats                       0.026245
pulses                            0.026245
sugar_crops                       0.000000
vegetal_products                  0.000000
cereals_excluding_beer            0.000000
sugar_and_sweeteners              0.000000
starchy_roots                     0.000000
miscellaneous                     0.000000
meat                              0.000000
fruits_excluding_wine             0.000000
aquatic_products                  0.000000

**Question 2:**

Does a country's population facts effect the likelihood of death as an outcome of Covid-19?

In [ ]:
machine_learning_df.head()

               country  total_deaths_per_million  ...    deaths  death_outcomes
0          Afghanistan                    69.692  ...  0.006186             low
1              Albania                   841.963  ...  0.050951             low
2              Algeria                    76.395  ...  0.006558             low
3               Angola                    19.625  ...  0.001461             low
4  Antigua and Barbuda                   326.771  ...  0.007143             low

[5 rows x 35 columns]

In [ ]:
population_analysis = machine_learning_df.drop(["country","total_deaths_per_million","gdp_per_capita","life_expectancy","human_development_index",
                                                "animal_products","animal_fats","aquatic_products","cereals_excluding_beer","eggs","seafood","fruits_excluding_wine","meat",
                                                "milk_excluding_butter","miscellaneous","offals","oilcrops","pulses","spices","starchy_roots","stimulants","sugar_and_sweeteners",
                                                "sugar_crops","treenuts","vegetable_oils","vegetables","vegetal_products","confirmed","deaths"], axis=1)

population_analysis.head()

   population  population_density  ...  aged_70_older  death_outcomes
0    38928341              54.422  ...          1.337             low
1     2877800             104.871  ...          8.643             low
2    43851043              17.348  ...          3.857             low
3    32866268              23.890  ...          1.362             low
4       97928             231.845  ...          4.631             low

[5 rows x 6 columns]

In [ ]:
X2 = population_analysis.copy()
X2 = X2.drop(["death_outcomes"], axis=1)
X2.head()

   population  population_density  median_age  aged_65_older  aged_70_older
0    38928341              54.422        18.6          2.581          1.337
1     2877800             104.871        38.0         13.188          8.643
2    43851043              17.348        29.1          6.211          3.857
3    32866268              23.890        16.8          2.405          1.362
4       97928             231.845        32.1          6.933          4.631

In [ ]:
y2 = population_analysis["death_outcomes"].values
y2[:5]

['low', 'low', 'low', 'low', 'low']
Categories (3, object): ['low' < 'moderate' < 'high']

In [ ]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, random_state=78)

print(X2_train.shape)
print(X2_test.shape)
print(y2_train.shape)
print(y2_test.shape)

(117, 5)
(40, 5)
(117,)
(40,)

In [ ]:
# Creating a StandardScaler instance.
scaler2 = StandardScaler()

# Fitting the Standard Scaler with the training data.
X2_scaler = scaler2.fit(X2_train)

# Scaling the data.
X2_train_scaled = X2_scaler.transform(X2_train)
X2_test_scaled = X2_scaler.transform(X2_test)

# Creating the decision tree classifier instance.
model2 = tree.DecisionTreeClassifier()

# Fitting the model.
model2 = model2.fit(X2_train_scaled, y2_train)

predictions2 = model2.predict(X2_test_scaled)

predictions2

array(['low', 'low', 'low', 'moderate', 'low', 'low', 'low', 'low', 'low',
       'low', 'low', 'moderate', 'low', 'low', 'low', 'low', 'low',
       'high', 'moderate', 'low', 'low', 'low', 'low', 'low', 'high',
       'low', 'low', 'moderate', 'low', 'low', 'moderate', 'high', 'low',
       'low', 'moderate', 'high', 'low', 'low', 'low', 'moderate'],
      dtype=object)

Evaluating Machine Learning Model for Question 2:

In [ ]:
#Calculating Confusion Matrix

cm2 = confusion_matrix(y2_test, predictions2)

#Creating a dataframe to showcase in final dashboard

cm2_df = pd.DataFrame(
    cm2, index=["Low", "Moderate", "High"], columns=["Predicted Low", "Predicted Moderate", "Predicted High"]
)

cm2_df

          Predicted Low  Predicted Moderate  Predicted High
Low                   0                   1               2
Moderate              1                  27               3
High                  3                   1               2

In [ ]:
# Calculating the accuracy score.

acc2_score = accuracy_score(y2_test, predictions2)

acc2_score

0.725

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm2_df)
print(f"Accuracy Score : {acc2_score}")
print("Classification Report")
print(classification_report(y2_test, predictions2))

Confusion Matrix

          Predicted Low  Predicted Moderate  Predicted High
Low                   0                   1               2
Moderate              1                  27               3
High                  3                   1               2

Accuracy Score : 0.725
Classification Report
              precision    recall  f1-score   support

        high       0.00      0.00      0.00         3
         low       0.93      0.87      0.90        31
    moderate       0.29      0.33      0.31         6

    accuracy                           0.73        40
   macro avg       0.41      0.40      0.40        40
weighted avg       0.76      0.72      0.74        40

In [ ]:
importances2 = model2.feature_importances_
sorted(zip(importances2, X2.columns), reverse=True)

[(0.3585096051359543, 'aged_70_older'),
 (0.2602156076124983, 'population'),
 (0.15004443947495777, 'population_density'),
 (0.11695487738135785, 'median_age'),
 (0.11427547039523189, 'aged_65_older')]

In [ ]:
importances2_df = pd.DataFrame(
    importances2, index=["Population", "Population Density", "Median Age", "Aged 60 & Older", "Aged 70 & Older"],
    columns=["Feature Importance"]
)

importances2_df.sort_values(by="Feature Importance", axis=0, ascending=False)

                    Feature Importance
Aged 70 & Older               0.358510
Population                    0.260216
Population Density            0.150044
Median Age                    0.116955
Aged 60 & Older               0.114275

**Question 3:**
Can a county's HDI Rating, GDP & Life Expectancy be predictors of it's Covid-19 Death Outcomes?

In [ ]:
machine_learning_df.head()

               country  total_deaths_per_million  ...    deaths  death_outcomes
0          Afghanistan                    69.692  ...  0.006186             low
1              Albania                   841.963  ...  0.050951             low
2              Algeria                    76.395  ...  0.006558             low
3               Angola                    19.625  ...  0.001461             low
4  Antigua and Barbuda                   326.771  ...  0.007143             low

[5 rows x 35 columns]

In [ ]:
quality_of_life_analysis = machine_learning_df.drop(["country","population","population_density","median_age","aged_65_older","aged_70_older",
                                                     "total_deaths_per_million","animal_products","animal_fats","aquatic_products",
                                                     "cereals_excluding_beer","eggs","seafood","fruits_excluding_wine","meat",
                                                     "milk_excluding_butter","miscellaneous","offals","oilcrops","pulses","spices","starchy_roots",
                                                     "stimulants","sugar_and_sweeteners","sugar_crops","treenuts","vegetable_oils",
                                                     "vegetables","vegetal_products","confirmed","deaths"], axis=1)

quality_of_life_analysis.head()

   gdp_per_capita  life_expectancy  human_development_index death_outcomes
0        1803.987            64.83                    0.511            low
1       11803.431            78.57                    0.795            low
2       13913.839            76.88                    0.748            low
3        5819.495            61.15                    0.581            low
4       21490.943            77.02                    0.778            low

In [ ]:
X3 = quality_of_life_analysis.copy()
X3 = X3.drop(["death_outcomes"], axis=1)
X3.head()

   gdp_per_capita  life_expectancy  human_development_index
0        1803.987            64.83                    0.511
1       11803.431            78.57                    0.795
2       13913.839            76.88                    0.748
3        5819.495            61.15                    0.581
4       21490.943            77.02                    0.778

In [ ]:
y3 = quality_of_life_analysis["death_outcomes"].values
y3[:5]

['low', 'low', 'low', 'low', 'low']
Categories (3, object): ['low' < 'moderate' < 'high']

In [ ]:
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, random_state=78)

print(X3_train.shape)
print(X3_test.shape)
print(y3_train.shape)
print(y3_test.shape)

(117, 3)
(40, 3)
(117,)
(40,)

In [ ]:
# Creating a StandardScaler instance.
scaler3 = StandardScaler()

# Fitting the Standard Scaler with the training data.
X3_scaler = scaler3.fit(X3_train)

# Scaling the data.
X3_train_scaled = X3_scaler.transform(X3_train)
X3_test_scaled = X3_scaler.transform(X3_test)

# Creating the decision tree classifier instance.
model3 = tree.DecisionTreeClassifier()

# Fitting the model.
model3 = model3.fit(X3_train_scaled, y3_train)

predictions3 = model3.predict(X3_test_scaled)

predictions3

array(['low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low',
       'moderate', 'low', 'low', 'moderate', 'moderate', 'low', 'low',
       'low', 'moderate', 'high', 'low', 'low', 'moderate', 'low', 'low',
       'low', 'low', 'low', 'moderate', 'low', 'low', 'low', 'low', 'low',
       'low', 'low', 'low', 'low', 'low', 'low', 'low'], dtype=object)

Evaluating Machine Learning Model for Question 3:

In [ ]:
#Calculating Confusion Matrix

cm3 = confusion_matrix(y3_test, predictions3)

#Creating a dataframe to showcase in final dashboard

cm3_df = pd.DataFrame(
    cm3, index=["Low", "Moderate", "High"], columns=["Predicted Low", "Predicted Moderate", "Predicted High"]
)

cm3_df

          Predicted Low  Predicted Moderate  Predicted High
Low                   0                   1               2
Moderate              1                  26               4
High                  0                   6               0

In [ ]:
# Calculating the accuracy score.

acc3_score = accuracy_score(y3_test, predictions3)

acc3_score

0.65

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm3_df)
print(f"Accuracy Score : {acc3_score}")
print("Classification Report")
print(classification_report(y3_test, predictions3))

Confusion Matrix

          Predicted Low  Predicted Moderate  Predicted High
Low                   0                   1               2
Moderate              1                  26               4
High                  0                   6               0

Accuracy Score : 0.65
Classification Report
              precision    recall  f1-score   support

        high       0.00      0.00      0.00         3
         low       0.79      0.84      0.81        31
    moderate       0.00      0.00      0.00         6

    accuracy                           0.65        40
   macro avg       0.26      0.28      0.27        40
weighted avg       0.61      0.65      0.63        40

In [ ]:
importances3 = model3.feature_importances_
sorted(zip(importances3, X3.columns), reverse=True)

[(0.4544277665880849, 'human_development_index'),
 (0.33101974350612784, 'gdp_per_capita'),
 (0.21455248990578732, 'life_expectancy')]

In [ ]:
importances3_df = pd.DataFrame(
    importances3, index=["GDP Per Capita", "Life Expectancy", "Human Deveopment Index (HDI)"],
    columns=["Feature Importance"]
)

importances3_df.sort_values(by="Feature Importance", axis=0, ascending=False)

                              Feature Importance
Human Deveopment Index (HDI)            0.454428
GDP Per Capita                          0.331020
Life Expectancy                         0.214552

Is the machine learning model more accurate when all of the features are included?

In [26]:
machine_learning_df.head()

               country  total_deaths_per_million  ...    deaths  death_outcomes
0          Afghanistan                    69.692  ...  0.006186             low
1              Albania                   841.963  ...  0.050951             low
2              Algeria                    76.395  ...  0.006558             low
3               Angola                    19.625  ...  0.001461             low
4  Antigua and Barbuda                   326.771  ...  0.007143             low

[5 rows x 36 columns]

In [27]:
final_analysis = machine_learning_df.drop(["country","total_deaths_per_million","confirmed","deaths"], axis=1)

final_analysis.head()

   population  population_density  ...  obesity  death_outcomes
0    38928341              54.422  ...      4.5             low
1     2877800             104.871  ...     22.3             low
2    43851043              17.348  ...     26.6             low
3    32866268              23.890  ...      6.8             low
4       97928             231.845  ...     19.1             low

[5 rows x 32 columns]

In [28]:
X4 = final_analysis.copy()
X4 = X4.drop(["death_outcomes"], axis=1)
X4.head()

   population  population_density  ...  vegetal_products  obesity
0    38928341              54.422  ...           45.2476      4.5
1     2877800             104.871  ...           33.9070     22.3
2    43851043              17.348  ...           43.9749     26.6
3    32866268              23.890  ...           45.3184      6.8
4       97928             231.845  ...           34.6225     19.1

[5 rows x 31 columns]

In [29]:
y4 = final_analysis["death_outcomes"].values
y4[:5]

['low', 'low', 'low', 'low', 'low']
Categories (3, object): ['low' < 'moderate' < 'high']

In [30]:
X4_train, X4_test, y4_train, y4_test = train_test_split(X4, y4, random_state=78)

print(X4_train.shape)
print(X4_test.shape)
print(y4_train.shape)
print(y4_test.shape)

(117, 31)
(40, 31)
(117,)
(40,)

In [31]:
# Creating a StandardScaler instance.
scaler4 = StandardScaler()

# Fitting the Standard Scaler with the training data.
X4_scaler = scaler4.fit(X4_train)

# Scaling the data.
X4_train_scaled = X4_scaler.transform(X4_train)
X4_test_scaled = X4_scaler.transform(X4_test)

# Creating the decision tree classifier instance.
model4 = tree.DecisionTreeClassifier()

# Fitting the model.
model4 = model4.fit(X4_train_scaled, y4_train)

predictions4 = model4.predict(X4_test_scaled)

predictions4

array(['low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low',
       'low', 'low', 'moderate', 'low', 'moderate', 'moderate', 'low',
       'low', 'low', 'low', 'moderate', 'low', 'low', 'low', 'low',
       'high', 'low', 'low', 'high', 'low', 'low', 'low', 'high', 'low',
       'low', 'moderate', 'moderate', 'low', 'low', 'low', 'low'],
      dtype=object)

Evaluate the Machine Learning Model

In [32]:
#Calculating Confusion Matrix

cm4 = confusion_matrix(y4_test, predictions4)

#Creating a dataframe to showcase in final dashboard

cm4_df = pd.DataFrame(
    cm4, index=["Low", "Moderate", "High"], columns=["Predicted Low", "Predicted Moderate", "Predicted High"]
)

cm4_df

          Predicted Low  Predicted Moderate  Predicted High
Low                   1                   1               1
Moderate              0                  29               2
High                  2                   1               3

In [33]:
# Calculating the accuracy score.

acc4_score = accuracy_score(y4_test, predictions4)

acc4_score

0.825

In [34]:
# Displaying results
print("Confusion Matrix")
display(cm4_df)
print(f"Accuracy Score : {acc4_score}")
print("Classification Report")
print(classification_report(y4_test, predictions4))

Confusion Matrix

          Predicted Low  Predicted Moderate  Predicted High
Low                   1                   1               1
Moderate              0                  29               2
High                  2                   1               3

Accuracy Score : 0.825
Classification Report
              precision    recall  f1-score   support

        high       0.33      0.33      0.33         3
         low       0.94      0.94      0.94        31
    moderate       0.50      0.50      0.50         6

    accuracy                           0.82        40
   macro avg       0.59      0.59      0.59        40
weighted avg       0.82      0.82      0.82        40

In [35]:
importances4 = model4.feature_importances_
sorted(zip(importances4, X4.columns), reverse=True)

importances4_df = pd.DataFrame(
    importances4, index=[X4.columns], columns=["Feature Importance"]
)

importances4_df.sort_values(by="Feature Importance", axis=0, ascending=False)

                         Feature Importance
aged_70_older                      0.256701
oilcrops                           0.161423
spices                             0.098732
population                         0.089196
gdp_per_capita                     0.085464
population_density                 0.055567
starchy_roots                      0.047241
pulses                             0.047241
stimulants                         0.033744
sugar_crops                        0.031756
sugar_and_sweeteners               0.029314
life_expectancy                    0.026245
animal_fats                        0.024933
meat                               0.012444
fruits_excluding_wine              0.000000
human_development_index            0.000000
vegetal_products                   0.000000
vegetables                         0.000000
vegetable_oils                     0.000000
treenuts                           0.000000
median_age                         0.000000
aged_65_older                      0.000000
animal_products                    0.000000
seafood                            0.000000
aquatic_products                   0.000000
cereals_excluding_beer             0.000000
eggs                               0.000000
offals                             0.000000
miscellaneous                      0.000000
milk_excluding_butter              0.000000
obesity                            0.000000